@charset "UTF-8";
/*
  Colors
 */
/*
  Fonts
 */
/*
  Spacing
 */
/*
  Sizing
 */
/*
  Animation
 */
html {
  font-size: 10px; }

body, html {
  display: grid;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  color: #FFF;
  max-width: calc(100vw - 15px);
  overflow-x: hidden;
  background: #222; }

h1, h2, h3, h4, h5, h6 {
  margin: 4rem 0 1rem 0;
  color: #CCD5FF;
  text-align: center;
  font-weight: normal; }

h1 {
  font-size: 6rem;
  font-family: "Amatic SC", cursive;
  margin: 2rem 0;
  color: #738AFF;
  background: -webkit-linear-gradient(#CCD5FF, #3F5FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h2 {
  font-size: 4rem;
  margin-top: 6rem;
  font-weight: bold; }

h3 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.75rem; }

a {
  color: #CC99FF;
  text-decoration: none;
  border: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

p {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 1.7rem;
  text-align: left;
  max-width: 60rem; }

.content {
  padding: 0 2rem;
  margin: 6rem auto;
  width: 75rem;
  max-width: calc(100vw - 15px);
  box-sizing: border-box;
  animation: open 0.3s normal forwards ease-in; }
  .content > *:first-child {
    margin-top: 0; }
  .content > *:last-child {
    margin-bottom: 0; }

.content + .content {
  margin-top: 0; }

.screen-centered {
  margin: auto;
  text-align: center; }

.main-menu__header {
  margin: 4rem 0;
  user-select: none; }
  .main-menu__header--main-title, .main-menu__header--subtitle {
    margin-top: 0;
    margin-bottom: 0;
    color: #738AFF; }
  .main-menu__header--subtitle {
    font-size: 4rem;
    font-weight: bold;
    text-align: center; }

.main-menu__options {
  list-style: none;
  margin: 4rem 0;
  padding: 0;
  text-align: center; }
  .main-menu__options--option {
    margin: 2rem 0;
    font-size: 2.5rem; }
    .main-menu__options--option a {
      padding-left: 0;
      text-decoration: none;
      border-bottom: none;
      display: block;
      width: 100%;
      transition: padding-left 0.2s ease-out; }
      .main-menu__options--option a:hover, .main-menu__options--option a:active, .main-menu__options--option a:focus {
        padding-left: 0.66667rem; }
        .main-menu__options--option a:hover > span::before, .main-menu__options--option a:active > span::before, .main-menu__options--option a:focus > span::before {
          color: #FFF;
          left: -3rem; }
      .main-menu__options--option a > span {
        position: relative;
        user-select: none; }
        .main-menu__options--option a > span::before {
          content: '>';
          color: #222;
          position: absolute;
          left: -4rem;
          top: 0;
          transition: left 0.2s ease-out, color 0.2s ease-out; }

.social-menu {
  margin: 4rem 0 2rem 0;
  padding: 0; }
  .social-menu--option {
    list-style: none;
    display: inline-block;
    margin: 0 1rem; }
    .social-menu--option a {
      position: relative;
      display: block; }
  .social-menu__tapas, .social-menu__wattpad, .social-menu__twitter, .social-menu__instagram, .social-menu__github {
    color: #222;
    width: 4rem;
    height: 4rem; }
    .social-menu__tapas::before, .social-menu__wattpad::before, .social-menu__twitter::before, .social-menu__instagram::before, .social-menu__github::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      filter: grayscale(100%);
      transition: filter 0.2s ease-in; }
    .social-menu__tapas:hover::before, .social-menu__tapas:active::before, .social-menu__tapas:focus::before, .social-menu__wattpad:hover::before, .social-menu__wattpad:active::before, .social-menu__wattpad:focus::before, .social-menu__twitter:hover::before, .social-menu__twitter:active::before, .social-menu__twitter:focus::before, .social-menu__instagram:hover::before, .social-menu__instagram:active::before, .social-menu__instagram:focus::before, .social-menu__github:hover::before, .social-menu__github:active::before, .social-menu__github:focus::before {
      filter: grayscale(0%); }
  .social-menu__tapas::before {
    background-image: url(../images/icon_tapas.png); }
  .social-menu__wattpad::before {
    background-image: url(../images/icon_wattpad.png); }
  .social-menu__twitter::before {
    background-image: url(../images/icon_twitter.png); }
  .social-menu__instagram::before {
    background-image: url(../images/icon_instagram.png);
    filter: grayscale(100%) brightness(200%); }
  .social-menu__github::before {
    background-image: url(../images/icon_github.png);
    filter: grayscale(100%) brightness(50%); }

.stories-list {
  padding: 0 2rem;
  margin: 0 auto 4rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 66rem;
  max-width: 100%;
  box-sizing: border-box; }
  .stories-list--story {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin: 0.15rem;
    margin-top: 2rem;
    width: 30rem;
    max-width: 100%;
    list-style: none;
    vertical-align: top; }
    .stories-list--story__top {
      flex: 0;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 45% auto;
      width: 100%; }
      .stories-list--story__top--image {
        position: relative;
        display: grid;
        padding: 0.1rem; }
        .stories-list--story__top--image > img {
          width: 100%;
          max-width: 15rem;
          height: auto; }
      .stories-list--story__top--meta {
        position: relative; }
        .stories-list--story__top--meta__title {
          font-size: 3rem;
          color: #FFF;
          margin: 1rem; }
        .stories-list--story__top--meta__awards {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0 1rem 1rem 1rem;
          color: #738AFF;
          font-size: 1.75rem; }
    .stories-list--story__info {
      position: relative;
      display: block;
      flex: 1; }
      .stories-list--story__info::before, .stories-list--story__info::after {
        content: '';
        position: absolute;
        top: -0.95rem;
        width: 0;
        height: 0;
        border-style: solid; }
      .stories-list--story__info::before {
        left: 0;
        border-width: 0.9rem 0 0.9rem 0.9rem;
        border-color: transparent transparent transparent #ACADBC; }
      .stories-list--story__info::after {
        right: 0;
        border-width: 0.9rem 0.9rem 0.9rem 0;
        border-color: transparent #ACADBC transparent transparent; }
    .stories-list--story__blurb {
      padding: 2rem;
      padding-bottom: 4rem;
      margin: 0.2rem 0 0 0; }
      .stories-list--story__blurb > *:first-child {
        margin-top: 0; }
    .stories-list--story__button {
      display: block;
      position: absolute;
      left: 0;
      bottom: 2rem;
      text-align: center;
      font-size: 2rem;
      width: 100%; }
    .stories-list--story__top--image::before, .stories-list--story__top--meta::before,
    .stories-list--story__blurb > *:last-child::before,
    .stories-list--story__blurb > *:last-child::after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid; }
    .stories-list--story__top--image::before {
      left: 0.1rem;
      top: 0.1rem;
      border-width: 1rem 1rem 0 0;
      border-color: #ACADBC transparent transparent transparent; }
    .stories-list--story__blurb > *:last-child::before {
      left: 0.1rem;
      bottom: 0.1rem;
      border-width: 1rem 0 0 1rem;
      border-color: transparent transparent transparent #ACADBC; }
    .stories-list--story__top--meta::before {
      right: 0.1rem;
      top: 0.1rem;
      border-width: 0 1rem 1rem 0;
      border-color: transparent #ACADBC transparent transparent; }
    .stories-list--story__blurb > *:last-child::after {
      right: 0.1rem;
      bottom: 0.1rem;
      border-width: 0 0 1rem 1rem;
      border-color: transparent transparent #ACADBC transparent; }
    .stories-list--story__top::before, .stories-list--story__top::after, .stories-list--story__top--image::after, .stories-list--story__top--meta::after, .stories-list--story__info--brackets::before, .stories-list--story__info--brackets::after, .stories-list--story__blurb::before, .stories-list--story__blurb::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 2rem;
      border-width: 0.1rem;
      border-color: #ACADBC; }
    .stories-list--story__top::before, .stories-list--story__top--image::after, .stories-list--story__info--brackets::before, .stories-list--story__blurb::before {
      left: 0;
      border-left-style: solid; }
    .stories-list--story__top::after, .stories-list--story__top--meta::after, .stories-list--story__info--brackets::after, .stories-list--story__blurb::after {
      right: 0;
      border-right-style: solid; }
    .stories-list--story__top--image::after, .stories-list--story__top--meta::after, .stories-list--story__blurb::before, .stories-list--story__blurb::after {
      bottom: 0;
      border-bottom-style: solid; }
    .stories-list--story__top::before, .stories-list--story__top::after, .stories-list--story__info--brackets::before, .stories-list--story__info--brackets::after {
      top: 0;
      border-top-style: solid; }

.novels-list {
  padding: 0 2rem;
  margin: 2rem 0;
  max-width: 100%;
  box-sizing: border-box; }
  .novels-list--book {
    list-style: none;
    width: 100%;
    margin: 4rem 0; }
    .novels-list--book:first-child,
    .novels-list--book:first-child > .novels-list--book__title {
      margin-top: 0; }
    .novels-list--book__title {
      color: #738AFF;
      margin-bottom: 0; }
    .novels-list--book__blurb {
      margin: 0; }
      .novels-list--book__blurb > *:first-child {
        margin-top: 0; }
      .novels-list--book__blurb strong {
        display: inline-block; }
        .novels-list--book__blurb strong::first-letter {
          font-weight: bolder;
          font-size: 2rem; }

.novels-list--book__tags,
.stories-list--story__top--meta__tags {
  position: relative;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-align: center;
  color: #CCD5FF;
  width: 100%;
  padding: 1rem;
  margin: 0;
  margin-top: 0.3rem;
  box-sizing: border-box; }
  .novels-list--book__tags--tag,
  .stories-list--story__top--meta__tags--tag {
    list-style: none;
    display: inline-block; }
    .novels-list--book__tags--tag::before, .novels-list--book__tags--tag::after,
    .stories-list--story__top--meta__tags--tag::before,
    .stories-list--story__top--meta__tags--tag::after {
      color: #ACADBC; }
    .novels-list--book__tags--tag:first-child::before,
    .stories-list--story__top--meta__tags--tag:first-child::before {
      content: '⥽ '; }
    .novels-list--book__tags--tag::after,
    .stories-list--story__top--meta__tags--tag::after {
      content: ' · '; }
    .novels-list--book__tags--tag:last-child::after,
    .stories-list--story__top--meta__tags--tag:last-child::after {
      content: ' ⥼'; }

/* Animations */
@keyframes open {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
