// _settings.scss

/*
  Colors
 */
$charcoal: #222;
$ice: #CCD5FF;
$blue: #738AFF;
$royal: #3F5FFF;
$orchid: #CC99FF;
$black: #000;
$gray: #ACADBC;
$white: #FFF;

/*
  Fonts
 */

// Font stacks
$amatic-sc: 'Amatic SC', cursive;
$raleway: 'Raleway', sans-serif;

// Font weights
$norm-weight: normal;
$bold-weight: bold;

// Font sizes
$p-fsize: 1.6rem;

$h1-fsize: 6rem;
$h2-fsize: 4rem;
$h3-fsize: 4rem;
$h4-fsize: 3rem;
$h5-fsize: 2rem;
$h6-fsize: 1.75rem;

// Font colors
$hcolor: $ice;
$fcolor: $white;
$acolor: $orchid;

/*
  Spacing
 */
$margin: 2rem;
$margin-neg: $margin * -1;
$margin-neg-half: $margin / 2 * -1;
$margin-half: $margin / 2;
$margin-2x: $margin * 2;
$margin-3x: $margin * 3;

/*
  Sizing
 */
$story-width: 30rem;
$stories-width: $story-width * 2 + $margin * 3;

/*
  Animation
 */
$ease-out: 0.2s ease-out;
$ease-in: 0.2s ease-in;
$animate-in: open 0.3s normal forwards ease-in;
