// _settings.scss

/*
  Colors
 */
$charcoal: #222;
$ice: #CCD5FF;
$blue: #738AFF;
$orchid: #CC99FF;
$black: #000;
$gray: #ACADBC;
$white: #FFF;

/*
  Fonts
 */

// Font stacks
$milonga: 'Milonga', cursive;
$raleway: 'Raleway', sans-serif;

// Font weights
$norm-weight: normal;
$bold-weight: bold;

// Font sizes
$p-fsize: 1.6rem;

$h1-fsize: 6rem;
$h2-fsize: 4rem;
$h3-fsize: 3rem;
$h4-fsize: 2rem;
$h5-fsize: 1.6rem;
$h6-fsize: 1.6rem;

// Font colors
$hcolor: $ice;
$fcolor: $white;
$acolor: $orchid;

/*
  Spacing
 */
$margin-half: 0.75rem;
$margin: 1.5rem;
$margin-neg: -1.5rem;
$margin-2x: 3rem;


/*
  Timing
 */
$ease-out: 0.2s ease-out;
$ease-in: 0.2s ease-in;
