@import 'settings';

html {
  font-size: 10px;
}
body, html {
  display: grid;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  font-size: $p-fsize;
  font-family: $raleway;
  color: $fcolor;

  max-width: calc(100vw - 15px);
  overflow-x: hidden;

  background: $charcoal;
}

h1, h2 {
  font-family: $milonga;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $margin-half 0;
  font-weight: normal;
  color: $hcolor;
}
h1 {
  font-size: $h1-fsize;
  margin: $margin 0;
  color: $blue;
}
h2 {
  font-size: $h2-fsize;
}
h3 {
  font-size: $h3-fsize;
}
h4 {
  font-size: $h4-fsize;
}
h5 {
  font-size: $h5-fsize;
}
h6 {
  font-size: $h6-fsize;
}

a {
  color: $acolor;
  text-decoration: none;
  border: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
p {
  line-height: 1.5;
  font-size: $p-fsize;
  text-align: left;
}

.centered {
  margin: auto;
  text-align: center;
}

.content {
  padding: $margin;
  width: 75rem;
  max-width: calc(100vw - 15px);
  box-sizing: border-box;
  animation: $animate-in;
}

.main-menu {
  &__header {
    margin-bottom: $margin-2x;
    user-select: none;

    &--main-title,
    &--subtitle {
      margin: 0;
      color: $blue;
    }

    &--subtitle {
      font-size: $h3-fsize;
      font-weight: $bold-weight;
      text-align: center;
    }
  }
  &__options {
    list-style: none;
    margin: $margin-2x 0;
    padding: 0;

    &--option {
      margin: $margin 0;
      font-size: $h4-fsize;

      a {
        padding-left: 0;
        text-decoration: none;
        border-bottom: none;
        display: block;
        width: 100%;

        transition: padding-left $ease-out;

        &:hover,
        &:active,
        &:focus {
          padding-left: $margin/3;
          & > span::before {
            color: $white;
            left: -1.5 * $margin;
          }
        }
        & > span {
          position: relative;
          user-select: none;
          &::before {
            content: '>';
            color: $charcoal;
            position: absolute;

            left: -2 * $margin;
            top: 0;

            transition: left $ease-out, color $ease-out;
          }
        }
      }
    }
  }
}

.social-menu {
  margin: $margin-2x 0 $margin 0;
  padding: 0;

  &--option {
    list-style: none;
    display: inline-block;
    margin: 0 $margin-half;

    a {
      position: relative;
      display: block;
    }
  }
  &__tapas,
  &__wattpad,
  &__twitter,
  &__instagram,
  &__github {
    color: $charcoal;
    width: 4rem;
    height: 4rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      filter: grayscale(100%);

      transition: filter $ease-in;
    }
    &:hover::before,
    &:active::before,
    &:focus::before {
      filter: grayscale(0%);
    }
  }

  &__tapas::before {
    background-image: url(../images/icon_tapas.png);
  }
  &__wattpad::before {
    background-image: url(../images/icon_wattpad.png);
  }
  &__twitter::before {
    background-image: url(../images/icon_twitter.png);
  }
  &__instagram::before {
    background-image: url(../images/icon_instagram.png);
    filter: grayscale(100%) brightness(200%);
  }
  &__github::before {
    background-image: url(../images/icon_github.png);
    filter: grayscale(100%) brightness(50%);
  }
}

.stories-list {
  padding: 0 $margin;
  margin: 0 auto $margin-2x auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 55rem;
  max-width: 100%;
  box-sizing: border-box;

  &--story {
    position: relative;
    margin: 0.15rem;
    margin-top: $margin;

    width: 25rem;

    list-style: none;
    vertical-align: top;

    &__image {
      position: relative;
      display: block;
      padding: 1px;

      & > img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__info {
      position: relative;
      display: block;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -1.0rem;

        width: 0;
        height: 0;

        border-style: solid;
      }
      &::before {
        left: 0.1rem;
        border-width: 0.9rem 0 0.9rem 0.9rem;
        border-color: transparent transparent transparent $gray;
      }
      &::after {
        right: 0.1rem;
        border-width: 0.9rem 0.9rem 0.9rem 0;
        border-color: transparent $gray transparent transparent;
      }
    }

    &__blurb {
      margin: 0;
      padding: 0 $margin $margin $margin;

      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        position: relative;
        display: block;
        margin-bottom: 0;
        width: 100%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: -1.4rem;

          width: 0;
          height: 0;

          border-style: solid;
        }
        &::before {
          left: -1.4rem;
          border-width: $margin-half 0 0 $margin-half;
          border-color: transparent transparent transparent $gray;
        }
        &::after {
          right: -1.4rem;
          border-width: 0 0 $margin-half $margin-half;
          border-color: transparent transparent $gray transparent;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 25rem;

      width: 100%;
      height: 0;
      border-bottom: 0.3rem solid $charcoal;
    }

    &__image::before,
    &__image::after,
    &__tags::before,
    &__tags::after,
    &__blurb::before,
    &__blurb::after {
      content: '';
      position: absolute;

      width: $margin-2x;
      height: $margin;

      border-width: 1px;
      border-color: $gray;
    }
    &__image::before,
    &__tags::before,
    &__blurb::before {
      left: 0;
      border-left-style: solid;
    }
    &__image::after,
    &__tags::after,
    &__blurb::after {
      right: 0;
      border-right-style: solid;
    }
    &__image::before,
    &__image::after,
    &__blurb::before,
    &__blurb::after {
      bottom: 0;
      border-bottom-style: solid;
    }
    &__tags::before,
    &__tags::after {
      top: 0;
      border-top-style: solid;
    }

  }
}

.novels-list {
  padding: 0 $margin;
  max-width: 100%;

  box-sizing: border-box;

  &--book {
    list-style: none;
    width: 100%;
    margin: $margin-2x 0;

    &:first-child {
      margin-top: $margin;
    }

    &__title {
      color: $blue;
      margin-bottom: 0;
    }
    &__blurb {
      margin: 0;

      & > *:first-child {
        margin-top: 0;
      }

      strong {
        display: inline-block;
        &::first-letter {
          font-family: $milonga;
        }
      }
    }
  }
}

.novels-list--book__tags,
.stories-list--story__tags {
  position: relative;
  font-family: $milonga;
  text-align: center;
  color: $ice;

  width: 100%;

  padding: $margin-half;
  margin: 0;
  margin-top: 0.3rem;

  box-sizing: border-box;

  &--tag {
    list-style: none;
    display: inline-block;

    &::before,
    &::after {
      color: $gray;
    }

    &:first-child::before {
      content: '⥽ ';
    }
    &::after {
      content: ' · ';
    }
    &:last-child::after {
      content: ' ⥼';
    }
  }
}

/* Animations */
@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
