@import 'settings';

html {
  font-size: 10px;
}
body, html {
  display: grid;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  font-size: $p-fsize;
  font-family: $raleway;
  color: $fcolor;

  max-width: calc(100vw - 15px);
  overflow-x: hidden;

  background: $charcoal;
}
h1, h2, h3, h4, h5, h6 {
  margin: $margin-2x 0 $margin-half 0;
  color: $hcolor;
  text-align: center;
  font-weight: normal;
}
h1 {
  font-size: $h1-fsize;
  font-family: $amatic-sc;
  margin: $margin 0;
  color: $blue;
}
h2 {
  font-size: $h2-fsize;
  margin-top: $margin-3x;
  font-weight: $bold-weight;
}
h3 {
  font-family: $amatic-sc;
  font-weight: $bold-weight;
  font-size: $h3-fsize;
}
h4 {
  font-size: $h4-fsize;
}
h5 {
  font-size: $h5-fsize;
}
h6 {
  font-size: $h6-fsize;
}

a {
  color: $acolor;
  text-decoration: none;
  border: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
p {
  line-height: 1.5;
  font-size: $p-fsize;
  text-align: left;
}

.content {
  padding: 0 $margin;
  margin: $margin-3x auto;
  width: 75rem;
  max-width: calc(100vw - 15px);
  box-sizing: border-box;
  animation: $animate-in;

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.content + .content {
  margin-top: 0;
}

.screen-centered {
  margin: auto;
  text-align: center;
}

.main-menu {
  &__header {
    margin: $margin-2x 0;
    user-select: none;

    &--main-title,
    &--subtitle {
      margin: 0;
      color: $blue;
    }

    &--subtitle {
      font-size: $h3-fsize;
      font-weight: $bold-weight;
      text-align: center;
    }
  }
  &__options {
    list-style: none;
    margin: $margin-2x 0;
    padding: 0;
    text-align: center;

    &--option {
      margin: $margin 0;
      font-size: $h4-fsize;

      a {
        padding-left: 0;
        text-decoration: none;
        border-bottom: none;
        display: block;
        width: 100%;

        transition: padding-left $ease-out;

        &:hover,
        &:active,
        &:focus {
          padding-left: $margin/3;
          & > span::before {
            color: $white;
            left: -1.5 * $margin;
          }
        }
        & > span {
          position: relative;
          user-select: none;
          &::before {
            content: '>';
            color: $charcoal;
            position: absolute;

            left: -2 * $margin;
            top: 0;

            transition: left $ease-out, color $ease-out;
          }
        }
      }
    }
  }
}

.social-menu {
  margin: $margin-2x 0 $margin 0;
  padding: 0;

  &--option {
    list-style: none;
    display: inline-block;
    margin: 0 $margin-half;

    a {
      position: relative;
      display: block;
    }
  }
  &__tapas,
  &__wattpad,
  &__twitter,
  &__instagram,
  &__github {
    color: $charcoal;
    width: 4rem;
    height: 4rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      filter: grayscale(100%);

      transition: filter $ease-in;
    }
    &:hover::before,
    &:active::before,
    &:focus::before {
      filter: grayscale(0%);
    }
  }

  &__tapas::before {
    background-image: url(../images/icon_tapas.png);
  }
  &__wattpad::before {
    background-image: url(../images/icon_wattpad.png);
  }
  &__twitter::before {
    background-image: url(../images/icon_twitter.png);
  }
  &__instagram::before {
    background-image: url(../images/icon_instagram.png);
    filter: grayscale(100%) brightness(200%);
  }
  &__github::before {
    background-image: url(../images/icon_github.png);
    filter: grayscale(100%) brightness(50%);
  }
}

.stories-list {
  padding: 0 $margin;
  margin: 0 auto $margin-2x auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: $stories-width;
  max-width: 100%;
  box-sizing: border-box;

  &--story {
    position: relative;
    margin: 0.15rem;
    margin-top: $margin;

    width: $story-width;
    max-width: 100%;

    list-style: none;
    vertical-align: top;

    &__top {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 45% auto;
      width: 100%;

      &--image {
        position: relative;
        display: grid;
        padding: 0.1rem;

        & > img {
          width: 100%;
          max-width: $story-width / 2;
          height: auto;
        }
      }
      &--meta {
        position: relative;

        &__title {
          font-size: $h4-fsize;
          color: $white;
          margin: $margin-half;
        }

        &__awards {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0 $margin-half $margin-half $margin-half;
          color: $blue;
        }
      }
    }

    &__info {
      position: relative;
      display: block;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -0.95rem;

        width: 0;
        height: 0;

        border-style: solid;
      }
      &::before {
        left: 0;
        border-width: 0.9rem 0 0.9rem 0.9rem;
        border-color: transparent transparent transparent $gray;
      }
      &::after {
        right: 0;
        border-width: 0.9rem 0.9rem 0.9rem 0;
        border-color: transparent $gray transparent transparent;
      }
    }

    &__blurb {
      padding: $margin;
      margin: 0.2rem 0 0 0;

      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        position: relative;
        display: block;
        margin-bottom: 0;
        width: 100%;
      }
    }

    &__button {
      text-align: center;
      font-size: $h5-fsize;
    }

    &__top--image::before,
    &__top--meta::before,
    &__blurb > *:last-child::before,
    &__blurb > *:last-child::after {
      content: '';
      position: absolute;
      z-index: 1;

      width: 0;
      height: 0;

      border-style: solid;
    }
    &__top--image::before {
      left: 0.1rem;
      top: 0.1rem;
      border-width: $margin-half $margin-half 0 0;
      border-color: $gray transparent transparent transparent;
    }
    &__blurb > *:last-child::before {
      left: $margin-neg + 0.1rem;
      bottom: $margin-neg + 0.1rem;
      border-width: $margin-half 0 0 $margin-half;
      border-color: transparent transparent transparent $gray;
    }
    &__top--meta::before {
      right: 0.1rem;
      top: 0.1rem;
      border-width: 0 $margin-half $margin-half 0;
      border-color: transparent $gray transparent transparent;
    }
    &__blurb > *:last-child::after {
      right: $margin-neg + 0.1rem;
      bottom: $margin-neg + 0.1rem;
      border-width: 0 0 $margin-half $margin-half;
      border-color: transparent transparent $gray transparent;
    }

    &__top::before,
    &__top::after,
    &__top--image::after,
    &__top--meta::after,
    &__info--brackets::before,
    &__info--brackets::after,
    &__blurb::before,
    &__blurb::after {
      content: '';
      position: absolute;

      width: $margin-2x;
      height: $margin;

      border-width: 0.1rem;
      border-color: $gray;
    }
    &__top::before,
    &__top--image::after,
    &__info--brackets::before,
    &__blurb::before {
      left: 0;
      border-left-style: solid;
    }
    &__top::after,
    &__top--meta::after,
    &__info--brackets::after,
    &__blurb::after {
      right: 0;
      border-right-style: solid;
    }
    &__top--image::after,
    &__top--meta::after,
    &__blurb::before,
    &__blurb::after {
      bottom: 0;
      border-bottom-style: solid;
    }
    &__top::before,
    &__top::after,
    &__info--brackets::before,
    &__info--brackets::after {
      top: 0;
      border-top-style: solid;
    }

  }
}

.novels-list {
  padding: 0 $margin;
  margin: $margin 0;
  max-width: 100%;

  box-sizing: border-box;

  &--book {
    list-style: none;
    width: 100%;
    margin: $margin-2x 0;

    &:first-child,
    &:first-child > .novels-list--book__title {
      margin-top: 0;
    }

    &__title {
      color: $blue;
      margin-bottom: 0;
    }
    &__blurb {
      margin: 0;

      & > *:first-child {
        margin-top: 0;
      }

      strong {
        display: inline-block;
        &::first-letter {
          font-weight: bolder;
          font-size: $h5-fsize;
        }
      }
    }
  }
}

.novels-list--book__tags,
.stories-list--story__top--meta__tags {
  position: relative;
  font-family: $amatic-sc;
  font-size: $h5-fsize;
  text-align: center;
  color: $ice;

  width: 100%;

  padding: $margin-half;
  margin: 0;
  margin-top: 0.3rem;

  box-sizing: border-box;

  &--tag {
    list-style: none;
    display: inline-block;

    &::before,
    &::after {
      color: $gray;
    }

    &:first-child::before {
      content: '⥽ ';
    }
    &::after {
      content: ' · ';
    }
    &:last-child::after {
      content: ' ⥼';
    }
  }
}

/* Animations */
@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
